@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
*{
    padding: 0px;
    margin: 0px;
}

html{
    font: 12px/1.5 'Inter', sans-serif;
    font-weight: 500;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../images/flower-transparent.jpg');
    background-size: cover;
    background-position:50% 50%;
    background-attachment: fixed;
}

.intro{
    padding: 100px 0px 70px 0px;
    width: 100%;
}

.intro h1{
    text-align: center;
    font-size: 40px;
    margin: 0px;
    padding: 10px;
    font-weight: 600;
}

.intro p{
    text-align: center;
    font-size: 20px;
}

  .contacts-section{
    /* padding: 80px 0px 70px 0px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts-section h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }

.contacts-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person{
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.person img{
    width: 15%;
    margin: 0px 20px 0px 20px;
}

.person h2{
    font-size: 30px;
}

.person p{
    font-size: 20px;
}