@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
*{
    padding: 0px;
    margin: 0px;
}

html{
    font: 12px/1.5 'Inter', sans-serif;
    font-weight: 500;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../images/IMG_8396Transparent.jpg');
    background-size: cover;
    background-position:absolute;
    background-attachment: fixed;
}

.intro{
    padding: 100px 0px 70px 0px;
    width: 100%;
}

.intro h1{
    text-align: center;
    font-size: 40px;
    margin: 0px;
    padding: 10px;
    font-weight: 600;
}

.intro p{
    text-align: center;
    font-size: 20px;
}



.full-width-banner {
    width: 100%;
    display: flex;
    /* align-items: stretch; */
    /* justify-content: space-between; */
    gap: 80px;
    padding: 20px 0px 20px 0px;
    margin-top: 40px;
    background-color: rgba(250, 225, 180, 0.9);
}

.banner-text{
  display: flex;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.banner-text h1{
    font-size: 30px;
    padding: 10px;
}

.banner-text p{
    font-size: 20px;
    text-align: center;
}

.banner-picture {
    width: 40%;
    position:static;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    margin: 0px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}