@media (width <= 1300px){
    .full-width-banner{
        flex-direction: column;
    }

    .banner-picture{
        width: auto;
        position: relative;
        justify-content: center;
    }
}

@media (width <= 1400px){
    .banner-picture{
        width: 50%;
        height: 50%;
    }
}